
  body {
    height: 400px;
    background-image: url("https://i.blogs.es/a7ce3d/7yxd9/450_1000.png");
  background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }
  

  